@(content: Html)(implicit flash: Flash)

<!DOCTYPE html>

<html>
    <head>
        <title>MHW</title>
    </head>
    <body>
    	<div id="navigation">@navigation()</div>
    	<div id="flash">
    		@if(flash.get("success").isDefined){
      			<div class="alert alert-success">@flash.get("success")</div>
    		}
			@if(flash.get("error").isDefined){
      			<div class="alert alert-error">@flash.get("error")</div>
    		}
   		</div>
        <div id="content">@content</div>
    </body>
</html>
